# mac
.DS_Store

# emacs
*~

# vim
.swp

## proposed by https://github.com/katalon-studio/ShadowDOMSampleProject/blob/master/.gitignore#L3
\.classpath
\.project
\.settings/
bin/lib/
Libs/
.cache/

## I do not want Report to be published
Reports/
/bin/
settings/
tmp/

## If you want to hide your confidential information,
## uncomment the following line
# /katalon.properties

# Gradle
build/
.gradle/
